$size: 40px;

.Container {
  display: inline-block;
  width: $size;
  height: $size;

  .NotificationHistory {
    z-index: 0;
    width: $size;
    height: $size;
    background: url(../../../../assets/notification.png) no-repeat top;
    background-size: contain;
    border: 0px;
  }

  .NotificationIndicator {
    z-index: 1;
    width: $size/2.4;
    height: $size/2.4;
    display: inline-block;
    background-color: rgb(228, 35, 35);
    border-radius: 50%;
    position: relative;
    left: 22px;
    bottom: 42px;
  }
}
