<mat-table [dataSource]="DataArray" class="MatTable">
  <ng-container matColumnDef="Icon">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let notification">
      <div [ngClass]="notification.TypeClass">
      </div>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Data">
    <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
    <mat-cell *matCellDef="let notification">
      {{ notification.data }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Time">
    <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
    <mat-cell *matCellDef="let notification">
      {{ notification.time | date: "HH:mm:SSS dd.MM.YYYY" }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
