@import "/src/app/notifications/share/IconsTemplate.scss";

.MatTable {
  width: 100%;
  height: 90%;
  overflow: auto;
}

$size: 30px;

%IconTemplate {
  width: $size;
  height: $size;
  border: 0px;
}

.NewOrder {
  @extend %IconTemplate;
  @extend %NewOrderIconTemplate;
}

.OrderChanged {
  @extend %IconTemplate;
  @extend %OrderChangedIconTemplate;
}

.Warning {
  @extend %IconTemplate;
  @extend %WarningIconTemplate;
}

.Error {
  @extend %IconTemplate;
  @extend %ErrorIconTemplate;
}

.Info {
  @extend %IconTemplate;
  @extend %InfoIconTemplate;
}
