.MatTable {
  width: 80%;
}

$size: 30px;

%IconTemplate {
  width: $size;
  height: $size;
  background-size: contain;
  border: 0px;
}

.NewOrder {
  @extend %IconTemplate;
  background: url(\src\app\notifications\assets\cart-plus-solid.svg) no-repeat top;
}

.OrderChanged {
  @extend %IconTemplate;
  background: url(\src\app\notifications\assets\sync-alt-solid.svg) no-repeat top;
}

.Warning {
  @extend %IconTemplate;
  background: url(\src\app\notifications\assets\exclamation-triangle-solid.svg) no-repeat
    top;
}

.Error {
  @extend %IconTemplate;
  background: url(\src\app\notifications\assets\minus-circle-solid.svg) no-repeat top;
}

.Info {
  @extend %IconTemplate;
  background: url(\src\app\notifications\assets\info-solid.svg) no-repeat top;
}
